<link href="/assets/messages.css" rel="stylesheet">
<% #unless Message.where(sender_id: @user.locu_str_id).where(receiver_id: message.sender_id).empty? %>
  <% if message.receiver_id == @user.locu_str_id || message.sender_id == @user.locu_str_id %>
  <table class="table">
    <tr>
      <td>
        <%= link_to User.get_name(message.sender_id) + ": ", new_message_path(reply_id: message.sender_id) %>
      </td>
      <td>
        <%= message.content %>
      </td>
      <td>
        <%= message.created_at %>
      </td>
    </tr>
  </table>
  <% #end %>
<% end %>
