<link href="/assets/messages.css" rel="stylesheet">

<% if message.receiver_id == @user.locu_str_id %>
<table class="table">
  <tr>
    <td>
      <%= link_to User.get_name(message.sender_id), message_path(message) %>
    </td>
    <td>
      <%= User.get_name(message.receiver_id) %>
    </td>
    <td>
      <%= message.created_at %>
    </td>
    <td><%= link_to 'Delete Message', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
</table>
<% end %>
