<div class="container">
  <div class="row">
    <h1>Search for Matches</h1>

    <%= button_to "Search for Businesses", search_candidates_path(:type=>"business"), :class=>"btn" %>
    <%= button_to "Search for Customers", search_candidates_path(:type=>"customer"), :class=>"btn" %>

  </div>
</div>
