<div class="container">

  <div class="row page-header">
    <div class="col-md-4 col-md-offset-2 centered">
      <h2>Search other businesses</h2>
      <%= button_to "GET OUT THERE", search_candidates_path(:type=>"business"), {:class=>"btn-large btn search-box godaddy-orange", :id=>"wider"} %>
    </div>
    <div class="col-md-4 centered">
      <h2>Find customers</h2>
        <%= button_to "GET MATCHED", search_candidates_path(:type=>"customer"), :class=>"search-box godaddy-green", :id=>"wider" %>
    </div>
  </div>
</div>
