<div id="matches-carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">

    <% $candidates.each_with_index do |candidate, index| %>
    <% if index == 0 %>
    <div class="item active">
    <% else %>
    <div class="item">
    <% end %>
      <% if candidate["media"] and candidate["media"]["cover_photo"] %>
        <%= image_tag candidate["media"]["cover_photo"] %>
      <% else %>
        <%= image_tag "placeholder.png" %>
      <% end %>
      <div class="carousel-caption">
        <h3><%= candidate["name"] %></h3>
      </div>
    </div>
    <% end %>

    <button class="btn btn-danger" id="reject">REJECT</button>
    <button class="btn btn-success" id="accept">ACCEPT</button>

  </div>
</div>

<script>
$(function() {

  var accepted = false;
  $('#reject').click(function() {
    accepted = false;
    $('#matches-carousel').carousel('next');
  });
  $('#accept').click(function() {
    accepted = true;
    $('#matches-carousel').carousel('next');
  });

  $('#matches-carousel').on('slid.bs.carousel', function() {
    if (accepted) {
      $.ajax({url: "accept",
              data: {type: '<%= params[:type] %>'},
              type: "POST"});
    } else {
      $.ajax({url: "reject", type: "POST"});
    }
  });

});
</script>
