<div class="container">
    <div class="page-header">
        <h1>Get Matched</h1>
        <p class="lead">A Locu/tinder mash-up for small business owners</p>
        
        <div class="btn btn-primary btn-lg learn-more">Learn More</div>

        <%= render :partial => 'login' %>
        <%= render :partial => 'signup' %>
    </div>
</div>

<%= render :javascript => '_index.js' %>