.bs-component {
	position: relative;
}
.bs-component input[type="text"] {
  margin-bottom: 10px;
}

.well {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	border: 1px solid #0a565c;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

#form-row{
	position: absolute;
	top: 42%;
	width: 100%;
}

#welcome-text{
	text-align: center;
	position: absolute;
	z-index: 3;
	color: #fafafa;
	width: 600px;
	margin-left: -300px;
	left: 50%;
	top: 40%;
	padding: 15px;
	background-color: rgba(0, 0, 0, 0.5);
}

#welcome-cover{
	z-index: -10;
	width: 100%;
	height: auto;
	background-image: url('http://frontdoorrestorations.com/users/u5/5901/hub_page/handshake_1920x800.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-filter: blur(5px);
	-webkit-filter: grayscale(0.5);
	  -moz-filter: blur(5px);
	  -o-filter: blur(5px);
	  -ms-filter: blur(5px);
	  filter: blur(5px);
}
