<%= render 'profile/profile' %>

      <div class="row">
        <div class="col-md-4">
          Categories Chosen:
        </div>
        <div class="col-md-6">
          <%= User.get_categories(session['current_locu_id'], @business['categories']) %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-4">
          <%= link_to 'Edit Categories', profile_edit_path, :class => 'btn btn-primary' %>
        </div>
      </div>

    </div>
  </div>
</div>
